Package: enigma2-plugin-extensions-tvspro-lite
Version: 1.5
Section: extra
Priority: optional
Architecture: all
Maintainer: @lululla
Description: TiVuStream
Source: @lululla
Homepage: tivustream.com
OE: 2.0-2.2-2.5
License: O.S.
